.select {
	min-width: 220px;
	width: 100%;
	height: 56px;
	position: relative;
	border: 1px solid #EBEBEB;
	box-sizing: border-box;
	border-radius: 2px;

	&__header {
		height: 56px;
		padding: 15px;
		display: flex;
		border-radius: 0 0 2px 2px;
		align-items: center;
		justify-content: space-between;
	
		& svg {
			margin-left: 8px;
		}
	}

	&__values {
		z-index: 10000;
		border-radius: 0 0 2px 2px;
		background-color: #FFF;
		padding: 15px;
		display: none;
		width: 100%;
		position: absolute;
		top: 56px;
		grid-row-gap: 8px;
		border: 1px solid #EBEBEB;
		border-top: none;
	}

	&__item {}

	&__show {
		.select {
			&__values {
				display: grid;
			}
		}
	}
}