.wrap {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

	& > div {
		max-width: 1600px;
		width: 100%;
	}
}

.review {
	margin-top: 30px;
	margin-left: -12px;
}

@media screen and (max-width: 1632px) {
	.wrap {
		& > div {
			margin: 0 32px;
		}
	}
}