@import 'resources/styles/mixins.scss';

.wrap {
	width: 100vw;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);

	& > div {
		max-width: 1600px;
		width: 100%;
	}
}

.review {
	margin-top: 30px;
	@include display(grid);
	@include grid-template-columns(1fr 1fr 1fr 1fr);
	@include grid-column-gap(30px)
}