.wrap {
	margin-top: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__choose {
		display: flex;
	}

	&__btn {
		width: 180px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 55px;

		border: 1px solid #EBEBEB;
		box-sizing: border-box;

		& p {
			display: flex;
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 30px;
			color: #646464;
			margin-left: 15px;
		}
	}

	&__arrows {
		height: 30px;
		width: 190px;
		display: flex;
		align-items: center;
		position: relative;
	}
}

.blackBtn {
	background: #262623;
	border: 1px solid #262623;
	
	& p {
		color: #FFFFFF;
	}
}

code {
	font-weight: 600;
}