.ourMission {
	margin-top: 60px;
	width: 100vw;
	display: flex;
	justify-content: center;

	&__content {
		width: 100%;
		max-width: 1600px;
	}
	
	& h2 {
		margin-top: 72px;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		text-transform: uppercase;
		color: #262623;
	}

	& p {
		margin-top: 33px;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
		color: rgba(38, 38, 35, 0.65);
	}
}