.textarea {
	& {
		resize: none;
	}

	border: 1px solid #EBEBEB;
	box-sizing: border-box;
	border-radius: 2px;

	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #727270;
	padding: 15px;
	min-height: 144px;

	&::placeholder {
		font-family: Noto Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #727270;
	}
}