@import 'resources/styles/mixins.scss';

.wrap {
	width: 100vw;
}

.content {
	width: 100%;
	max-width: 1600px;
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);
}

.header {
	width: 100%;
	height: 48px;
	background-color: #262623;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);

	&__list {
		width: 375px;
		@include display(flex);
		@include justify-content(space-between);
	}

	&__link {
		cursor: pointer;

		& p {
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #F8F7F3;
		}
	}

	&__border {
		width: 1px;
		height: 24px;
		border: 1px solid rgba(255, 255, 255, 0.1);
	}

	&__options {
		@include display(flex);
		width: 138px;
		@include justify-content(space-between);
		@include align-items(center);
	}

	&__cart {
		@include display(flex);
	}

	&__price {
		font-family: Noto Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;

		flex: none;
		order: 1;
		flex-grow: 0;
		margin: 0px 10px;
	}
}

.nav {
	width: 100vw;
	height: 70px;
	background-color: #EFEFEF;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);

	&__info {
		width: 1095px;
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
	}

	&__links {
		width: 895px;
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
	}

	&__link {
		@include display(flex);
		@include align-items(center);

		& p {
			margin-right: 10px;
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #262623;
		}
	}

	&__authBtns {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
	}

	&__btn {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
		padding: 11px 13px;
		cursor: pointer;

		font-family: Noto Sans;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #190E00;
	}
}