.wrap {
	width: 100vw;
}

.content {
	width: 100%;
	max-width: 1600px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		display: flex;
		align-items: center;

		& > div {
			margin-left: 24px;
		}
	}
}

.header {
	padding: 0 16px;
	width: 100%;
	height: 48px;
	background-color: #262623;
	display: flex;
	align-items: center;
	justify-content: center;

	&__list {
		width: 375px;
		display: flex;
		justify-content: space-between;
	}

	&__link {
		cursor: pointer;

		& p {
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #F8F7F3;
		}
	}

	&__border {
		width: 1px;
		height: 24px;
		border: 1px solid rgba(255, 255, 255, 0.1);
	}

	&__options {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 138px;
	}

	&__cart {
		display: flex;
	}

	&__price {
		font-family: Noto Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;

		flex: none;
		order: 1;
		flex-grow: 0;
		margin: 0px 10px;
	}

	&__info {
		width: 1095px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.nav {
	padding: 0 16px;
	position: relative;
	width: 100vw;
	height: 70px;
	background-color: #EFEFEF;
	display: flex;
	align-items: center;
	justify-content: center;

	&__burger {
		display: none;
	}

	& p {
		margin-right: 10px;
		font-family: Noto Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #262623;
	}

	&__info {
		// width: 1095px;
		// display: flex;
		// align-items: center;
		// justify-content: space-between;
	}

	&__links {
		width: 895px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__link {
		&_item {
			display: flex;
			align-items: center;
			margin-top: 1.5px;
			border-bottom: 1.5px solid rgba(0, 0, 0, 0);
		}

		&_navigation {
			z-index: 100;
			display: none;
			position: absolute;
			top: 47px;
			width: 100%;

			& p {
				color: #262623;
				text-transform: none;
			}

			&_row {
				margin-top: 23px;
				background-color: #EFEFEF;
				box-shadow: 0px 20px 30px rgba(61, 61, 64, 0.5);

				padding: 15px 20px;

				display: grid;
				grid-row-gap: 16px;

				& a {
					display: flex;
					justify-content: space-between;
					align-items: center;	
				}

				& h3 {
					font-family: Noto Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: 0.04em;
					color: #262623;
				}
			}
		}

		&:hover {
			.nav__link_navigation {
				display: block;
			}

			.nav__link_item {
				border-bottom: 1.5px solid #262623;
			}
		}
	}

	&__authBtns {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.showWrap {
	margin: 0 auto;
	margin-top: 23px;
	display: flex;
	justify-content: space-between;
	background: #EFEFEF;
	box-shadow: 0px 20px 30px rgba(61, 61, 64, 0.5);
	padding: 35px 80px;

	& .nav__link_navigation_row {
		background-color: rgba(0, 0, 0, 0);
	}

	&__row {
		& a {
			display: flex;
			justify-content: space-between;
			align-items: center;	
		}

		& h3 {
			font-family: Noto Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.04em;
			color: #262623;
		}

		& > div {
			margin-top: 24px;
			display: grid;
			grid-row-gap: 16px;
		}
	}
}

@media screen and (max-width: 1440px) {
	.nav {
		&__burger {
			z-index: 100000000;
			display: block;
			position: relative;
			width: 35px;
			height: 22px;
			position: relative;
		}

		&__burger:before, &__burger:after {
			content: '';
			background-color: #333;
			position: absolute;
			width: 100%;
			height: 4px;
			left: 0;
			-webkit-transition: all 0.8s ease 0s;
			-o-transition: all 0.8s ease 0s;
			transition: all 0.8s ease 0s;
		}

		&__burger:before {
			top: 0;
		}

		&__burger:after {
			bottom: 0;
		}

		&__burger_active:before {
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			top: 8.8px;
		}

		&__burger_active span {
			-webkit-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
		}

		&__burger_active:after {
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			bottom: 8.8px;
		}

		&__burger span {
			position: absolute;
			background-color: #333;
			width: 100%;
			left: 0;
			height: 4px;
			top: 8.8px;
			-webkit-transition: all 0.41s ease 0s;
			-o-transition: all 0.41s ease 0s;
			transition: all 0.41s ease 0s;
		}

		&__info {
			z-index: 100;
			position: fixed;
			top: -200%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #FFF;
			-webkit-transition: all 1.4s;
			-o-transition: all 1.4s;
			transition: all 1.4s;
			overflow: auto;
		}

		&__info_active {
			top: 0;
			display: flex;
			align-items: center;
		}

		&__links {
			height: 100%;
			flex-direction: column;
			padding: 16px;
			width: 100%;
		}
	}
}