@import 'resources/styles/mixins.scss';

.news {
	margin-top: 120px;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.carousel {
	width: 100%;
	max-width: 1600px;

	&__content {
		@include display(grid);
		@include grid-row-gap(160px);
	}

	&__counter {
		width: 332px;
		margin-top: 20px;
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);

		& > div {
			width: 270px;
			height: 3px;
			background-color: #EAEAEA;

			& > div {
				width: 90px;
				height: 100%;
				background-color: #262623;
			}
		}

		& p {
			font-family: Noto Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 30px;
			color: #262623;
		}
	}
}