.filters {
	max-width: 298px;
	border: 1px solid #EBEBEB;
	box-sizing: border-box;

	.grid {
		display: grid;
		grid-row-gap: 20px;
	}

	&__block {
		cursor: pointer;
		padding: 20px 0 20px 30px;
		border-bottom: 1px solid #EBEBEB;

		&:last-child {
			border-bottom: none;
		}

		&_header {
			display: flex;
			align-items: center;

			& P {
				font-weight: 600;
				font-size: 18px;
				line-height: 26px;
				color: #262623;
			}

			& svg {
				margin-left: 17px;
			}
		}

		&_list {
			display: grid;
			grid-row-gap: 16px;
			margin-top: 20px;
		}
	}

	&__costInput {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;

		& > div > div {
			display: none;
		}
	}
}