.BrainhubCarousel__dots {
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr !important;
	grid-template-rows: 160px !important;
}

.BrainhubCarousel__thumbnail {
	max-width: 240px !important;
	max-height: 160px !important;
}