.info {
	cursor: pointer;
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px) {
	.info {
		display: flex;
		justify-content: center;

		& > div:nth-child(2), & > div:nth-child(3) {
			display: none;
		}
	}
}

@media screen and (max-width: 570px) {
	.info {
		padding: 0 16px;
	}
}