.subHeader {
	display: flex;
	height: 807px;
	width: 100vw;
	
	&__content {
		position: relative;
		margin-left: 160px;
	}

	&__info {
		padding-top: 120px;

		& p:nth-child(1) {width: 536px; margin-left: 17px; }

		& p:nth-child(2) { width: 925px; margin-top: 23px; }
		
		& p:nth-child(3) { width: 536px; margin-top: 32px; }
	}

	&__mainImg {
		width: 100%;
		height: calc(100% + 2px);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url('../../../../resources/images/Rectangle.png');
	}

	&__imgs {
		max-width: 401px;
		height: 100%;
		max-height: 807px;
	}

	&__overTitle {
		font-family: Noto Sans;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	&__title {
		font-family: 'Playfair Display';
		font-style: normal;
		font-weight: normal;
		font-size: 80px;
		line-height: 88px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	&__subTitle {
		font-family: Noto Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 26px;
		color: #FFFFFF;
	}

	&__stick {
		top: 0;
		left: 0;
		position: absolute;
		width: 13px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__border {
		width: 1px;
		height: 129px;
		background-color: #FFF;
	}

	&__circle {
		width: 13px;
		height: 13px;
		background: #FFF;
		box-sizing: border-box;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		& span {
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: #190E00;
		}
	}
}

@media screen and (max-width: 1560px) {
	.subHeader {
		height: 600px;

		&__content {
			margin-left: 16px;
		}

		&__imgs {
			display: none;
		}

		&__title {
			font-size: 54px;
			line-height: 62px;
		}

		&__mainImg {
			height: 600px;
		}
	}
}

@media screen and (max-width: 660px) {
	.subHeader {
		&__title {
			font-size: 32px;
			line-height: 40px;
		}

		&__info {
			& p:nth-child(1), & p:nth-child(2), & p:nth-child(3) {
				width: 100%;
				margin-right: 16px;
			}
		}
	}
}
